{% set entrytypes = craft.sections.getSectionById(import.elementvars.section).getEntryTypes() %}

<p>{{ 'Choose the destination fields for your imported data. "{title}" is always required.'|t({
    title: entrytypes[0].titleLabel
}) }}</p>
{% if import.behavior != 'append' %}
<p>{{ 'Select the field(s) to use as match criteria to find existing Entries to replace or delete data.'|t }}</p>
{% endif %}

<table class="data">
    <tr>
        <th>{{ "Column name"|t }}</th>
        <th>{{ "Field name"|t }}</th>
        {% if import.behavior != 'append' %}
        <th>{{ "Use as match criteria"|t }}</th>
        {% endif %}
    </tr>
{% for column in columns %}
    {% set column = column|trim %}
    <tr>
        <td>
            <div class="field">
                <div class="heading">
                    <label>{{ column }}</label>
                    <div class="instructions">
                        <p>{{ "will be imported into:"|t }}</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="field">
                <div class="input">
                    <div class="select mapper">
                        <select name="fields[{{ column }}]" class="importFields">
                            <option value="dont">{{ "Don't import"|t }}</option>
                {% for entrytype in entrytypes %}
                    {% if loop.first %}
                            <option value="id"{% if column|lower == 'id' %} selected{% endif %}>{{ "ID"|t }}</option>
                            <option value="title"{% if column|lower == 'title' or column|lower == 'name' or column|lower == entrytype.titleLabel|lower %} selected{% endif %}>{{ entrytype.titleLabel }} *</option>
                            <option value="slug"{% if column|lower == 'slug' %} selected{% endif %}>{{ "Slug"|t }}</option>
                            <option value="parentId"{% if column|lower == 'parent' %} selected{% endif %}>{{ "Parent Entry"|t }}</option>
                            <option value="ancestors"{% if column|lower == 'ancestors' %} selected{% endif %}>{{ "Ancestors"|t }}</option>
                            <option value="authorId"{% if column|lower == 'author' or column|lower == 'admin' %} selected{% endif %}>{{ "Author"|t }}</option>
                            <option value="postDate"{% if column|lower == 'postdate' or column|lower == 'date' %} selected{% endif %}>{{ "Post Date"|t }}</option>
                            <option value="expiryDate"{% if column|lower == 'expirydate' or column|lower == 'enddate' %} selected{% endif %}>{{ "Expiry Date"|t }}</option>
                            <option value="enabled"{% if column|lower == 'enabled' %} selected{% endif %}>{{ "Enabled"|t }}</option>
                            <option value="locale"{% if column|lower == 'locale' %} selected{% endif %}>{{ "Locale"|t }}</option>
                    {% endif %}
                    {% for tab in craft.fields.getLayoutById(entrytype.fieldLayoutId).getTabs() %}
                            <optgroup label="{{ tab.name }}">
                        {% for field in tab.getFields() %}
                            {% set f = field.getField() %}
                            {% set customOption = craft.import.customOption(f.type) %}
                            {% if customOption %}
                                {% include customOption ignore missing %}
                            {% else %}
                                <option value="{{ f.handle }}"{% if column|lower == f.name|lower or column|lower == f.handle|lower %} selected{% endif %}>{{ f.name }}{% if f.required %} *{% endif %}</option>
                            {% endif %}
                        {% endfor %}
                            </optgroup>
                    {% endfor %}
                {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </td>
        {% if import.behavior != 'append' %}
        <td class="importCriterium">
        {{ forms.checkboxField({
            label: 'Criterium'|t,
            instructions: "Criterium for finding existing data."|t,
            name: "unique[" ~ column ~ "]",
            class: "unique",
            checked: loop.first or column|lower == 'locale'
        }) }}
        </td>
        {% endif %}
    </tr>
{% endfor %}
    <tr>
        <td colspan="{% if import.behavior != 'append' %}2{% else %}3{% endif %}" style="border-bottom: none"><input type="submit" class="btn submit" value="{{ 'Import'|t }}"></td>
    </tr>
</table>
