{% set fieldLayout = craft.fields.getLayoutByType(import.type) %}

<p>{{ 'Choose the destination fields for your imported data. "Email" is always required.'|t }}</p>
{% if import.behavior != 'append' %}
<p>{{ 'Select the field(s) to use as match criteria to find existing Users to replace or delete data.'|t }}</p>
{% endif %}

<table class="data">
    <tr>
        <th>{{ "Column name"|t }}</th>
        <th>{{ "Field name"|t }}</th>
        {% if import.behavior != 'append' %}
        <th>{{ "Use as match criteria"|t }}</th>
        {% endif %}
    </tr>
{% for column in columns %}
    {% set column = column|trim %}
    <tr>
        <td>
            <div class="field">
                <div class="heading">
                    <label>{{ column }}</label>
                    <div class="instructions">
                        <p>{{ "will be imported into:"|t }}</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="field">
                <div class="input">
                    <div class="select mapper">
                        <select name="fields[{{ column }}]" class="importFields">
                            <option value="dont">{{ "Don't import"|t }}</option>
                            <option value="id"{% if column|lower == 'id' %} selected{% endif %}>{{ "ID"|t }}</option>
                            <option value="username"{% if column|lower == 'username' or column|lower == 'name' %} selected{% endif %}>{{ "Username"|t }}</option>
                            <option value="photo"{% if column|lower == 'photo' or column|lower == 'userphoto' %} selected{% endif %}>{{ "Photo"|t }}</option>
                            <option value="firstName"{% if column|lower == 'firstname' or column|lower == 'first name' %} selected{% endif %}>{{ "First Name"|t }}</option>
                            <option value="lastName"{% if column|lower == 'lastname' or column|lower == 'last name' %} selected{% endif %}>{{ "Last Name"|t }}</option>
                            <option value="email"{% if column|lower == 'email' or column|lower == 'emailaddress' or column|lower == 'e-mail' or column|lower == 'e-mailadddress' %} selected{% endif %}>{{ "Email"|t }} *</option>
                            <option value="status"{% if column|lower == 'status' %} selected{% endif %}>{{ "Status"|t }}</option>
                            <option value="preferredLocale"{% if column|lower == 'locale' %} selected{% endif %}>{{ "Preferred Locale"|t }}</option>
                            <option value="newPassword"{% if column|lower == 'password' %} selected{% endif %}>{{ "Password"|t }}</option>
                        {% for field in fieldLayout.getFields() %}
                            {% set f = field.getField() %}
                            {% set customOption = craft.import.customOption(f.type) %}
                            {% if customOption %}
                                {% include customOption ignore missing %}
                            {% else %}
                                <option value="{{ f.handle }}"{% if column|lower == f.name|lower or column|lower == f.handle|lower %} selected{% endif %}>{{ f.name }}{% if f.required %} *{% endif %}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </td>
        {% if import.behavior != 'append' %}
        <td class="importCriterium">
        {{ forms.checkboxField({
            label: 'Criterium'|t,
            instructions: "Criterium for finding existing data."|t,
            name: "unique[" ~ column ~ "]",
            class: "unique",
            checked: loop.first
        }) }}
        </td>
        {% endif %}
    </tr>
{% endfor %}
    <tr>
        <td colspan="{% if import.behavior != 'append' %}2{% else %}3{% endif %}" style="border-bottom: none"><input type="submit" class="btn submit" value="{{ 'Import'|t }}"></td>
    </tr>
</table>
