{% extends "_layouts/cp" %}

{% set title = "Import"|t %}

{% set tabs = {
    overview: { label: "Import"|t, url: url('import') },
    history:  { label: "History"|t, url: url('import/history') },
} %}

{% set selectedTab = 'overview' %}

{% includeJsResource 'import/js/import.js' %}

{% import "_includes/forms" as forms %}

{% set content %}
    <form id="import-form" method="post" class="centered" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="import/upload">

        {% set elementTypes = {} %}
        {% for elementType in craft.elements.getAllElementTypes if craft.import.getGroups(elementType.getClassHandle()) %}
            {% set elementTypes = elementTypes|merge([elementType]) %}
        {% endfor %}

        <table class="data">
            <thead class="importType">
                <tr>
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ "Type"|t }}</label>
                                <div class="instructions">
                                    <p>{{ "Choose the type you want to import into."|t }}</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <div class="input">
                                <div class="select">
                                    <select name="import[type]" id="types" required>
                                    {% for elementType in elementTypes %}
                                        <option value="{{ elementType.getClassHandle() }}">{{ elementType.getName() }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% if not elementTypes|length %}
                                <p class="warning">{{ "No Element Types found. Please create one first."|t }}</p>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            </thead>

            {% for elementType in elementTypes %}
                {% include craft.import.getTemplate(elementType.getClassHandle()) %}
            {% endfor %}

            <tbody>
                <tr class="importBehavior">
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ "Import behavior"|t }}</label>
                                <div class="instructions">
                                    <p>{{ "Choose whether to create new records, or update or delete existing data."|t }}</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <div class="input">
                                <div class="select">
                                    <select name="import[behavior]" id="behaviors">
                                        {% if currentUser.can('append') %}<option value="append">{{ "Append data"|t }}</option>{% endif %}
                                        {% if currentUser.can('replace') %}<option value="replace">{{ "Replace data"|t }}</option>{% endif %}
                                        {% if currentUser.can('delete') %}<option value="delete">{{ "Delete data"|t }}</option>{% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="importSource">
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ "Asset Source"|t }}</label>
                                <div class="instructions">
                                    <p>{{ "Choose the asset source you want to upload the import file to."|t }}</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            {% set assetSources = craft.import.getAssetSources %}
                            <div class="input">
                                <div class="select">
                                    <select name="import[assetsource]" id="assetsources" required>
                                    {% for source in assetSources %}
                                        <option value="{{ source.id }}">{{ source.name|t }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% if not assetSources|length %}
                                <p class="warning">{{ "No Asset Sources found. Please create one first."|t }}</p>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr class="importFile">
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ "File"|t }}</label>
                                <div class="instructions">
                                    <p>{{ "Choose the file you want to import.<br />Valid file formats: CSV"|t|raw }}</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <div class="input">
                                <input type="file" name="file">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="importEmail">
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ "Send e-mail notification"|t }}</label>
                                <div class="instructions">
                                    <p>{{ "Send an e-mail summary when the import process is completed."|t }}</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <div class="input">
                                <input type="hidden" name="import[email]" value="0">
                                <input type="checkbox" name="import[email]" value="1" id="email" />
                            </div>
                        </div>
                    </td>
                </tr>
                {% if currentUser.can('backup') %}
                <tr class="importBackup">
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ "Backup Database"|t }}</label>
                                <div class="instructions">
                                    <p>{{ "Backup database before importing"|t }}</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <div class="input">
                                <input type="hidden" name="import[backup]" value="0">
                                <input type="checkbox" name="import[backup]" value="1" id="backup" disabled />
                            </div>
                        </div>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan="2" style="border-bottom: none"><input type="submit" class="btn submit" value="{{ 'Next'|t }}"></td>
                </tr>
            </tbody>
        </table>

    </form>
{% endset %}
