{% extends "_layouts/cp" %}

{% set title = "Import"|t %}

{% set tabs = {
    overview: { label: "Import"|t, url: url('import') },
    history:  { label: "History"|t, url: url('import/history') },
} %}

{% set selectedTab = 'history' %}

{% if craft.request.getParam('task') %}
    {% includeJsResource 'import/js/task.js' %}
    {% includeJs 'checkForTask(' ~ craft.request.getParam('task') ~ ', \'' ~ craft.import.history[0].file ~ '\');' %}
{% endif %}

{% set content %}
<div class="tableview">
    <table class="data fullwidth" id="history">
        <thead>
            <tr>
                <th scope="col" data-attribute="date">{{ "Filename"|t }}</th>
                <th scope="col" data-attribute="behavior">{{ "Import behavior"|t }}</th>
                <th scope="col" data-attribute="type">{{ "Type"|t }}</th>
                <th scope="col" data-attribute="rows">{{ "Rows"|t }}</th>
                <th scope="col" data-attribute="started">{{ "Started"|t }}</th>
                <th scope="col" data-attribute="finished">{{ "Finished"|t }}</th>
                <th scope="col" data-attribute="totaltime">{{ "Total time"|t }}</th>
                <th scope="col" data-attribute="user">{{ "User"|t }}</th>
                {% if CraftEdition >= CraftClient %}<th scope="col" data-attribute="revert">{{ "Revert"|t }}</th>{% endif %}
                <th scope="col" data-attribute="download">{{ "Download"|t }}</th>
                <td class="thin"></td>
            </tr>
        </thead>
        <tbody>
        {% for item in craft.import.history %}
            <tr>
                <td scope="row" data-title="{{ 'Filename'|t }}">
                    <div class="element" data-id="{{ item.id }}" data-status="{% if item.status == 'started' %}pending{% elseif item.status == 'reverted' %}archived{% else %}live{% endif %}" data-label="{{ item.file }}">
                        <div class="label">
                            <span class="status {% if item.status == 'started' %}pending{% elseif item.status == 'reverted' %}archived{% else %}live{% endif %}"></span>
                            <span class="title">
                            {% if item.status != 'started' %}
                                <a href="{{ url('import/history/' ~ item.id) }}">{{ item.getFilename() }}</a>
                            {% else %}
                                {{ item.getFilename() }}
                            {% endif %}
                            </span>
                        </div>
                    </div>
                </td>
                <td data-title="{{ 'Import behavior'|t }}">
                {% switch item.behavior %}
                    {% case 'append' %}
                        {{ "Append data"|t }}
                    {% case 'replace' %}
                        {{ "Replace data"|t }}
                    {% case 'delete' %}
                        {{ "Delete data"|t }}
                {% endswitch %}
                </td>
                <td data-title="{{ 'Type'|t }}">{% if item.type %}{{ item.type|t }}{% else %}{{ "Entry"|t }}{% endif %}</td>
                <td data-title="{{ 'Rows'|t }}">{{ item.rows }}</td>
                <td data-title="{{ 'Started'|t }}">{{ item.dateCreated | datetime }}</td>
                <td data-title="{{ 'Finished'|t }}">{% if item.status != 'started' %}{{ item.dateUpdated | datetime }}{% endif %}</td>
                <td data-title="{{ 'Total time'|t }}">{% if item.status != 'started' %}{{ item.dateCreated.diff(item.dateUpdated).humanDuration() }}{% endif %}</td>
                <td data-title="{{ 'User'|t }}">
                    <a href="{{ url('users/' ~ item.user.id ) }}" class="go">{{ item.user.username }}</a>
                </td>
                {% if CraftEdition >= CraftClient %}
                <td data-title="{{ 'Revert'|t }}">
                    {% if item.status == 'finished' and (item.type == 'Entry' or item.type is empty) and item.behavior != 'delete' %}
                        <a href="{{ actionUrl('import/history/revert', { id: item.id }) }}" class="btn small" onclick="return confirm('{{ "Are you sure you want to revert the imported entries to the previous version?"|t }}')">{{ 'Revert'|t }}</a>
                    {% else %}
                        <a href="javascript:void(0)" class="btn small disabled" onclick="return alert('{{ "Reverting is not available for this type or behavior"|t }}')">{{ 'Revert'|t }}</a>
                    {% endif %}
                </td>
                {% endif %}
                <td data-title="{{ 'Download'|t }}">
                    {% if item.type is not empty %}
                        <a href="{{ actionUrl('import/history/download', {'id': item.id }) }}" class="btn small">{{ 'Download'|t }}</a>
                    {% else %}
                        <a href="javascript:void(0)" class="btn small disabled" onclick="return alert('{{ "The original file is not available for downloading"|t }}')">{{ 'Download'|t }}</a>
                    {% endif %}
                </td>
                <td class="thin">
                    <a class="delete icon" href="{{ actionUrl('import/history/delete', {'id': item.id }) }}" title="{{ "Delete"|t }}" role="button" onclick="return confirm('{{ "Are you sure you want to delete the history of" }} {{ item.file }}')"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endset %}
